$def with (systemlist)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Scaffolding · Twitter Bootstrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="../../static/css/bootstrap.css" rel="stylesheet">
		<link href="../../static/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../../static/css/docs.css" rel="stylesheet">
		<link href="../../static/js/google-code-prettify/prettify.css" rel="stylesheet">
	</head>
	<body >
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>名称</th>
					<th>英文标识</th>
					<th>访问方式</th>
				</tr>
			</thead>
			<tbody>
				$for system in systemlist:
				<tr>
					<td>$system[0]</td>
					<td>$system[1]</td>
					<td>$system[2]</td>
					<td>$system[3]</td>
				</tr>
			</tbody>
		</table>
		<script src="../js/jquery.js"></script>
		
	</body>
</html>