$def with(active)
$var title: 关于
<h1>关于系统</h1>
		<p>
			这是一个用于更方便、更快捷地维护和共享信息化系统的信息的工具，其原理是利用10.244.113.83上的共享文件作为数据库。
		</p>
		<p>
			各方共同进行系统信息的编辑和维护，并自动保留变更记录便于追查。
		</p>
		<h2>系统功能</h2>
		<ul>
			<li>
				<b>导出最新的系统列表</b>
				<p>
					包括公共字段、规划室字段和支持室字段。公共字段是相对公用的信息；规划室字段是规划室独特的信息，例如未转维时的内容；支持室字段是支持室关心的字段，也经常发生变化。当然下线、未转运维和第三方的系统信息也会全部导出。
				</p>
			</li>
			<li>
				<b>维护系统信息</b>
				<p>
					需要使用到网页版，在网页上编辑后，变更信息会自动记录到数据库（Excel没有这个功能）。查看变更历史等内容也是在网页版中完成。
				</p>
				<p>
					如果仅仅是需要查看或者查找，那么还是建议导出最新的系统列表，在Excel上操作。
				</p>
			</li>
			<li>
				<b>缓存最新的系统列表</b>
				<p>每次成功连接83上的数据库文件时，会将一个备份拷贝到本地system.mdb；可以用microsoft access打开查看。若在无联网环境，系统也会读取本地缓存来导出excel。</p>
			</li>
		</ul>
		<h2>关于版本</h2>
		<ul>
			<li>
				<b>0.1</b>
				<p>连接服务器和数据库</b>
				<p>缓存最新的系统列表</p>
				<p>导出系统信息到Excel</p>
				<p>在网页上展示和编辑系统信息，并做变更记录和版本控制</p>
				<p>在网页上展示变更记录，并进行查询</p>
			</li>
		</ul>
<!-- <iframe src='../static/html/readme.html' style="width:100%;height:800px;" width="100%" height="800px" frameborder=”no” border=”0″></iframe> -->