$def with (content)
<!DOCTYPE html>
<html>
	<head>
		<title>$content.title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Le styles -->
		<link href="../css/bootstrap.css" rel="stylesheet">
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
			
			.footer {
				margin-top: 45px;
				padding: 35px 0 36px;
				border-top: 1px solid #e5e5e5;
			}
		</style>
		<link href="../css/bootstrap-responsive.css" rel="stylesheet">
		<script src="../js/jquery.js"></script>
		<script src="../js/bootstrap.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="/">信息化系统信息管理</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active">
								<a href="/">首页</a>
							</li>
							<li>
								<a href="history">历史</a>
							</li>
							<li>
								<a href="about">关于</a>
							</li>
						</ul>
						<ul class="nav pull-right">
							
							<li>
								
								<a href="#"><i class="icon-user icon-white"></i>$LOGIN_USER</a>
							</li>
							<li>
								<a href="#">$MODE [$EDITABLE]</a>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="container">
			$:content
			
			
			<footer class="footer">
				<p class="pull-right">
					<a href="#">顶部</a>
				</p>
				<p>
					更方便、更快捷地维护和共享信息化系统的信息  by<a href="mailto:yaoancheng@139.com">@chengyaoan</a>
				</p>
			</footer>
		</div>
		<!-- /container -->
	</body>
</html>
